<h1>Welcome to the Wiki-Web-App</h1>

<form class="form-wrapper cf">
  <input type="text" placeholder="Search here..." required>
  <button type="submit">Search</button>
</form>

<p>Or, you can <a href="/new">create a new page</a></p>
